API_ID=29933911
API_HASH=7203358c613c038dbd69e84d969cc0bd
BOT_TOKEN=7037167859:AAFQ1cdHGaim4FLOHtLPoOXptZM42hg5Ml0
ALLOWED_USERS=6489636766
MONGO_URI=mongodb+srv://mongodbalox:rusmanto12@cluster0.1jwxyor.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
